node_modules/
deploy/
logs/
miselanea/
KariModules/cache/

mega_databases/*
database/db/*
webClient/public/*

database/topgg/votedusers.json
cowdown/db.json
database/client/webhooks.json
database/client/config.json
database/micaela/idiotas.json
package-lock.json
database/giveaway/data.json
webClient/controllers/files.js

*.logs
*.replit
*.env