* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.container .modal {
  border-radius: 3px;
  background-color: #3E3C3D;
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

.container .modal .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.container .modal .title span {
  font-weight: bold;
  color: #a89e9e;
}

.container .modal .title button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #333232;
  color: gray;
  font-weight: bold;
  padding: 3px 7px;
}

.container .modal .line {
  min-width: 100px;
  height: 1px;
  background-color: #333232;
}

.container .modal .content {
  padding: 20px;
  color: #a89e9e;
}