{
  "shard":{},
  "status":"",
  "guildId":"",
  "functions":{
  	"ignoredUsers":[]
  },
  "host":{
  	"links":[""]
  },
  "footer":{
  	"root":""
  },
  "webhooks":{ 
      "commands":{
          "id":"",
          "token":""
      },
      "topgg":{
          "id":"",
          "token":""
      },
      "suport":{
          "id":"",
          "token":""
      },
      "exit_":{
          "id":"",
          "token":""
      }
  }
}